.folder, .file {
    padding: 5px;
    font : 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
    background: transparent !important;
}

.folder:hover, .file:hover {
    background-color: transparent !important;
}

.folder {
    background-color: transparent !important;
}

.folder-container, .file-container, .input-container {
    padding-left: 20px;
    margin-top: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 35%;
}